@layer base {
  :root, .light {
    /* Base configuration forced to Dark for Premium Aesthetic */
    --color-background: #080808;
    --color-foreground: #ffffff;
    --color-card: #111111;
    --color-card-foreground: #ffffff;
    --color-popover: #111111;
    --color-popover-foreground: #ffffff;
    --color-muted: #1c1c1c;
    --color-muted-foreground: #888888;
    --color-border: #333333;
    --color-input: #000000;
    --color-ring: #ff915a;

    --color-primary: #ff915a;
    --color-primary-foreground: #531e00;

    --color-surface: #080808;
    --color-surface-dim: #080808;
    --color-surface-bright: #222222;
    --color-surface-container-lowest: #000000;
    --color-surface-container-low: #111111;
    --color-surface-container: #141414;
    --color-surface-container-high: #181818;
    --color-surface-container-highest: #1c1c1c;

    --color-on-surface: #ffffff;
    --color-on-surface-variant: #888888;

    --radius: 0.75rem;
  }
}
